<!DOCTYPE html>
<head>
  <link href="/normalize.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../static/newapp/css/website.css">
  <title>Ubicomp: Building-wise</title>
</head>

<body>

  <header>

    <img src="../../static/newapp/img/iiitd-logo.jpg">

    <h1>Ubicomp</h1>
    <ul>
      <li><a href="../../static/newapp/SampleWebsite.html">Home</a></li>
      <li><a href="../../static/newapp/People-wise.html">People-wise</a></li>
      <li><a href="#">Name Search</a></li>
    </ul>
  </header>

    <h2>Building-wise Lookup</h2>  
    <select id="Building">
      <option value="Dummy">Select</option>
      <option value="Acad">Academic Block</option>
      <option value="Lib">Library and Information Centre</option>
      <option value="SAC">Students Activity Centre</option>
      <option value="GH">Girls Hostel</option>
      <option value="BH">Boys Hostel</option>
      <option value="FH">Faculty Housing</option>
    </select>
  
    <select class="floor" id="Acad">
      <option value="">Select</option>
      <option value="F0">Ground Floor</option>
      <option value="F1">First Floor</option>
      <option value="F2">Second Floor</option>
      <option value="F3">Third Floor</option>
      <option value="F4">Fourth Floor</option>
      <option value="F5">Fifth Floor</option>
    </select>
    <select class="floor" id="Lib">
      <option value="">Select</option>
      <option value="F0">Ground Floor</option>
      <option value="F1">First Floor</option>
      <option value="F2">Second Floor</option>
      <option value="F3">Third Floor</option>
    </select>
    <select class="floor" id="SAC">
      <option value="">Select</option>
      <option value="F0">Ground Floor</option>
      <option value="F1">First Floor</option>
      <option value="F2">Second Floor</option>
      <option value="F3">Third Floor</option>
    </select>
    <select class="floor" id="GH">
      <option value="">Select</option>
      <option value="F0">Ground Floor</option>
      <option value="F1">First Floor</option>
      <option value="F2">Second Floor</option>
      <option value="F3">Third Floor</option>
      <option value="F4">Fourth Floor</option>
    </select>
    <select class="floor" id="BH">
      <option value="">Select</option>
      <option value="F0">Ground Floor</option>
      <option value="F1">First Floor</option>
      <option value="F2">Second Floor</option>
      <option value="F3">Third Floor</option>
      <option value="F4">Fourth Floor</option>
      <option value="F5">Fifth Floor</option>
    </select>
    <select class="floor" id="FH">
      <option value="">Select</option>
      <option value="F0">Ground Floor</option>
      <option value="F1">First Floor</option>
      <option value="F2">Second Floor</option>
      <option value="F3">Third Floor</option>
      <option value="F4">Fourth Floor</option>
      <option value="F5">Fifth Floor</option>
    </select>
  
  
    <select class="wing" id="AcadWings">
      <option value="">Select</option>
      <option value="WA">Wing A</option>
      <option value="WB">Wing B</option>
    </select>

    <select class="wing" id="AcadandHostelWings">
      <option value="">Select</option>
      <option value="WA">Wing A</option>
      <option value="WB">Wing B</option>
      <option value="WC">Wing C</option>
    </select>

    <select class="wing" id="AcadLabs">
      <option value="">Select</option>
      <option value="L1">Lab1</option>
      <option value="L2">Lab2</option>
    </select>

    <select class="wing" id="Classrooms">
      <option value="">Select</option> 
      <option value="C1">CR1</option>
      <option value="C2">CR2</option>
      <option value="C3">CR3</option>
    </select>

    <select class="wing" id="LibLabs"> 
      <option value="">Select</option>
      <option value="L1">Lab1</option>
      <option value="L2">Lab2</option>
      <option value="L3">Lab3</option>
    </select>

   <br />
   <input type="submit">

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>   
  <script type="text/javascript" src="../../static/newapp/js/building-wise.js"></script>

</body>