<!DOCTYPE html>
<head>
<link href="/normalize.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../static/newapp/css/website.css">
<title>Ubicomp: People-wise</title>
</head>

<body>

  <header>
    <img src="../../static/newapp/img/iiitd-logo.jpg">
    <h1>Ubicomp</h1>
    <ul>
      <li><a href="./SampleWebsite.html">Home</a></li>
      <li><a href="./Building-wise.html">Building-wise</a></li>
      <li><a href="#">Name Search</a></li>
    </ul>
  </header>

    <h2>People-wise Lookup</h2> 
    <select id="People">
    	<option value="">Select</option>
    	<option value="S">Students</option>
    	<option value="F">Faculty</option>
    </select> 

    <select id="Students">
    	<option value="">Select</option>
    	<option value="B">B.Tech</option>
    	<option value="M">M.Tech</option>
    	<option value="P">PhD</option>
    </select>

    <select id="BTech" class="year">
    	<option value="">Select</option>
    	<option value="1">First Year</option>
    	<option value="2">Second Year</option>
    	<option value="3">Third Year</option>
    	<option value="4">Fourth Year</option>
    </select>

	<select id="MTech" class="year">
		<option value="">Select</option>
    	<option value="1">First Year</option>
    	<option value="2">Second Year</option>
    </select>    

  <br />
  <input type="submit">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
  <script type="text/javascript" src="../../static/newapp/js/people-wise.js"></script> 
</body>