<!DOCTYPE html>
<head>
  <link href="/normalize.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../../static/newapp/css/website.css">
  <title>Ubicomp: Home</title>
</head>

<body>

  <header>
    <img src="../../static/newapp/img/iiitd-logo.jpg">
    <h1>Ubicomp</h1>
    <ul>
      <li><a href="./Building-wise.html">Building-wise</a></li>
      <li><a href="./People-wise.html">People-wise</a></li>
      <li><a href="#">Name Search</a></li>
    </ul>
  </header>

  <article>
    <h2>About Ubicomp</h2>
    <img src="../../static/newapp/img/download.jpg">
    <p>Some content here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p> 
  </article>
  <br/>
  <br/>
    <p><small>Project Ubicomp. Register your MAC and Rollno. here.</small></p>
    <input type="MAC" placeholder="Your device's MAC">
    <input type="Rollno." placeholder="Your rollno.">
    <input type="submit"> 

</body>