header {
  text-align: center;
  background: #3fada8;
  color: white;
}
a {
  color: white;
}
h1 {
  font-size: 70px;
  margin: 0;
}
img {
  border: 10px solid white;
  float: right;
  margin: 5px;
}
ul {
  padding: 10px;
  background: black;
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
body {
  background: white;
  color: black;
  font-family: helvetica;
  text-align: center;
}
p {
  font-size: 22px;
  content: center;
}
input {
  border: 1px solid black;
  padding: 2px;
  font-size: 10px;
}
button {
  background: #3fada8;
  color: white;
  border: 0;
  border-radius: 5px;
  font-size: 22px;
  padding: 5px;
}

div.chart {
 float: center;
 display: inline-block;
 padding: 20px;
}

div {
  float: center;
}
